/******* Fonts ********/
@font-face {
  font-family: Gibson;
  src: url("../fonts/Gibson/Gibson-Regular.otf") format('opentype');
}

@font-face {
  font-family: Gibson-Bold;
  src: url("../fonts/Gibson/Gibson-Bold.otf") format("opentype");
}

@font-face {
  font-family: Gibson-BoldI;
  src: url("../fonts/Gibson/Gibson-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: Gibson-I;
  src: url("../fonts/Gibson/Gibson-Italic.otf") format("opentype");
}

@viewport {
  width: device-width;
  zoom: 1;
}

/******* Window View *******/
#main {
  height: 100vh;
  background: url("../images/AdobeStock_300143060.jpeg");
  background-size: cover;
  position: relative;
}

.overlay-effect {
  background-color: rgba(112, 31, 88, 0.7);
}

#motto {
  color: #f9eddc;
  font-family: Gibson;
  font-weight: 1000;
  font-size: 45px;
  line-height: 47px;
}

.description {
  color: #f9eddc;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
}

.form-info {
  color: #f9eddc;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
}

#signup-descr {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #f9a058;
}

.transparent {
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
}

.transparent:focus {
  color: white;
  background-color: transparent;
  outline: none !important;
}

.sharp {
  border-radius: 0%;
}

.form-row button {
  background-color: #f9a058;
  color: #701f58;
  font-family: Gibson;
  font-weight: 600;
  width: 100%;
}

/**** Mobile View ****/
#small-v {
  overflow-x: hidden;
  height: auto;
}

.navbar,
.navbar-brand {
  padding: 0;
  margin: 0;
}

.overlay-effect-mob {
  background-color: rgba(112, 31, 88, 0.7);
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 50%;
  overflow: hidden;
  /* overflow-x: hidden; */
}

#titleTxt h3 {
  color: #f9eddc;
  font-family: Gibson;
  font-weight: 900;
  font-size: 38px;
  line-height: 40px;
}

#description-sm-v {
  background-color: #701f58;
}

.description-sm {
  color: #f9eddc;
  font-family: Gibson;
  /* font-weight: 100; */
  font-size: 15px;
  line-height: normal;
}

.launching-mv {
  font-size: 16px;
}

#signup-info-mv {
  color: #f9a058;
  font-weight: 700;
  font-size: 20px;
  line-height: 47px;
}

@media only screen and (max-width:400px) {
  #signup-info-mv {
    font-size: 16px;
  }
}

@media only screen and (max-width:350px) {
  #titleTxt h3 {
    font-size: 30px;
    line-height: 30px;
  }

  .description-sm {
    font-size: 12px;
  }

  .launching-mv p {
    margin-bottom: 0;
  }

  #signup-info-mv {
    font-size: 15px;
  }
}